<div class="col-md-4">
	<div class="well bg-primary">
		<h5 class="text-uppercase"></h5>
		<ul class="media-list">
			<li class="media">
				<div class="media-body">
					<h4 class="media-heading">
						<a href="Web-Designer.html">Web designer</a>
					</h4>
					<p>The Adventure Company is looking for a highly skilled multi-media web designer with extensive front-end web development
						experience to join our team with the intent to grow our capacity and capability to create and develop front-end client-side
						web applications. </p>
				</div>
			</li>
		</ul>
		<a href="Web-Designer.html" class="btn btn-default">
							Read more
						  </a>
	</div>
</div>
